<mat-toolbar color="primary">
  <div class="tabs">
      <div class="tab" [routerLink]="['/saludo', firstTime]" (click)="saludar()">Saludo</div>
      <div class="tab" routerLink="/cronometro">Cronometro</div>

  </div>
</mat-toolbar>
<!-- Enteiendo que con el toolbar los botones sobran, pero ahi los dejo por si acaso
<div class="mainContainer">
  <div class="buttons">
    <button  (click)="saludar()">Saludo</button>
    <button routerLink="cronometro">Cronometro</button>
  </div>
</div>
-->
<router-outlet></router-outlet>

